<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <h1 th:text="'Hello ' + ${name} + '!'"></h1>
</div>
<p><a href="/actuator">Actuator</a></p>
<p><a href="/other">Other world</a></p>
<form action="#" th:action="@{/}" method="post">
    <input type="text" th:value="${name}" name="name"/>
    <input type="submit" />
</form>
</body>
</html>