<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Users</h1>
<table>
    <thead>
    <tr>
        <th th:text="ID">ID</th>
        <th th:text="Name">Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.id}">Oranges</td>
        <td th:text="${user.name}">0.99</td>
    </tr>
    </tbody>
</table>


<p>Users form:</p>
<form action="#" th:action="@{/users}" th:object="${user}" method="post">
    <input type="text" th:value="${name}" name="name"/>
    <input type="submit" />
</form>
<p>Links:</p>
<p><a href="/">Hello World Page</a></p>
<p><a href="/commutes">Commutes</a></p>

</body>
</html>